body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-color: white;
}
/*header*/
.menu{
    height: 100px;
    background-color: #14233a;
}
.menu-content{
    width: 100%;
    max-width: 1000px;
    display: flex;
    padding-top: 20px;
    margin: auto;
    justify-content: space-between;
}
.menu-content img{
    display: inline-block;
}
.menu-content ul{
    display: flex;
    color: white;
    list-style: none;
}
.menu-content li{
    padding: 0px 15px 0px 15px;
}
.menu-content a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}
.menu-content a:hover{
    transition: 0.5s;
    color: #ec7200;
    font-size: 18px;
}
.orange a{
    color: #ec7400;
}
.menu-mobile{
    display: none;
    justify-content: space-around;
    align-items: center;
    padding-top: 10px;
    width: 100%;
}
.mobile-nav{
    display: flex;
    position: absolute;
    width: 100%;
    margin-top: 230px;
}
.mobile-nav nav{
    width: 100%;
}
.menu-mobile-display{
    display: none;
    list-style: none;
    text-align: center;
    background-color: white;
    padding: 0;
}
.mobile-nav li{
    display: block; 
}
.mobile-nav a{
    display: block;
    padding: 10px;
    width: 100% - 20px;
    
    text-decoration: none;
    color: #14233a;
    font-size: 20px;   
}
.mobile-nav a:hover{
    transition: 0.5s;
    background-color: #ec7400;
    color: white;
}
.wave{
    height: 300px;
    background-size: cover;
    background-image: url('../assets/wave.svg');
}
.wave h1{
    margin: 0;
    padding-top: 20px;
    text-align: center;
    color: white;
    font-size: 43px;
}
/*header*/
/*container*/
    .container{
        width: 100%;
    }
    .wrapper{
        max-width: 1150px;
        height: 550px;
        display: flex;
        align-items: center;
        width: 100%;
        margin: 0 auto;
    }
    .img{
        display: inline-block;
        width: 550px;
    }
    .img img{
        width: 100%;
        border-radius: 40px;
    }
    .text{
        display: inline-block;
        margin-left: 30px;
    }
    .text h2{
        font-size: 36px;
        color: #ec7400;
        font-weight: 700;
    }
    .text p{
        font-size: 24px;
    }
    .container-email{
        display: flex;
        align-items: center;
        color: #14233a;
    }
    .container-email i{
        color: #ec7400;
        font-size: 50px;
    }
    .container-email h3{
        font-size: 30px;
        line-height: 1;
        height: 0px;
    }
    .container-email p{
        font-size: 1.7em;
    }
    .box-contatos{
        display: inline-block;
        margin-left: 20px;
    }
/*container*/
/*footer*/
.footer{
    background-color: #14233a;
    height: 390px;
    margin-top: 210px;
}
.w-30{
    width: 35%;
    color: white;
    display: inline-block;
    margin-top: 20px;
    padding: 10px 0 0 15px;
    line-height: 18px;
}
.w-30-desc{
    padding-top: 10px;
    font-weight: 400;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
.img-icon{
    background-color: #ec7400;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    display: inline-block;
    margin-left: 2px;
}
.img-icon img{
    padding: 10px;
}
.icones{
    padding-top: 30px;
}
.img-icon-insta img{
    padding: 9px;
}
.contato-footer{
    font-size: 14px;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
}
.dr{
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    line-height: 10px;
}
.div-footer{
    width: 100%;
    max-width: 1150px;
    margin: 0 auto;
}
.direita{
    font-size: 25px;
    line-height: 23px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    float: right;
}
.direita p:first-child{
    padding-top: 40px;
}
.direita p:nth-child(2){
    padding-top: 30px;
}
.baixar{
    background-color: #ec7400;
    border: none;
    color: #ffffff;
    padding: 10px 20px 10px 20px;
    font-size: 15px;
    border-radius: 3px;
}
.baixar:hover{
    cursor: pointer;
}
.observacao{
    font-weight: 400;
    font-size: 13px;
    padding-top: 5px;
}
/*footer*/

@media( max-width:1024px){
    .menu-content{
        display: none;
    }
    .menu-mobile{
        display: flex;
        padding-top: 20px;
    }
    .menu-mobile img:hover{
        cursor: pointer;
    }
    /*header*/
    /*container*/
    .wrapper{
        display: block;
        height: 800px;
        
    }   
    .img{
        display: block;
        margin: 0 auto;
    }
    .text{
        display: block;
        text-align: center;
        margin-left: 0;
    }
    .container-email{
        display: block;
        margin: 0 auto;
    }
    /*container*/
    /*footer*/
    .w-30{
        margin-left: 50px;
    }
    .direita{
        margin-right: 50px;
        margin-left: 0px;
    }
    /*footer*/
}
@media(max-width:780px){
    /*footer*/
    .footer{
        height: 450px;
    }
    .dr{
        line-height: normal;
    }
    /*footer*/
}
@media(max-width:650px){
    /*footer*/
    .footer{
        background-color: #14233a;
        height: 800px;
        margin-top: 150px;
    }
    .w-30{
        width: 70%;
        color: white;
        display: block;
        margin:auto;
        padding: 30px 0 0 15px;
        line-height: 18px;
        text-align: center;
    }
    .direita{
        font-size: 25px;
        line-height: 23px;
        font-family: Arial, Helvetica, sans-serif;
        padding: 0;
        float: none;
    }
    /*footer*/
    /*container*/
    .wrapper{
        height: 650px;
    }
    .img{
        width: 300px;
    }
    .text h2{
        font-size: 30px;
    }
    .box-contatos{
        margin-left: 0px;
    }
    .text p{
        font-size: 18px;
        padding: 0 30px;
    }
    .container-email i{
        font-size: 30px;
    }
    .container-email h3{
        font-size: 26px;
    }
    .container-email p{
        font-size: 1.3em;
    }
    
    /*container*/
}