body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-color: white;
}
/*header*/
.menu{
    height: 100px;
    background-color: #14233a;
}
.menu-content{
    width: 100%;
    max-width: 1000px;
    display: flex;
    padding-top: 20px;
    margin: auto;
    justify-content: space-between;
}
.menu-content img{
    display: inline-block;
}
.menu-content ul{
    display: flex;
    color: white;
    list-style: none;
}
.menu-content li{
    padding: 0px 15px 0px 15px;
}
.menu-content a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}
.menu-content a:hover{
    transition: 0.5s;
    color: #ec7200;
    font-size: 18px;
}
.orange a{
    color: #ec7400;
}
.menu-mobile{
    display: none;
    justify-content: space-around;
    align-items: center;
    padding-top: 10px;
    width: 100%;
}
.mobile-nav{
    display: flex;
    position: absolute;
    width: 100%;
    margin-top: 230px;
}
.mobile-nav nav{
    width: 100%;
}
.menu-mobile-display{
    display: none;
    list-style: none;
    text-align: center;
    background-color: white;
    padding: 0;
}
.mobile-nav li{
    display: block; 
}
.mobile-nav a{
    display: block;
    padding: 10px;
    width: 100% - 20px;
    
    text-decoration: none;
    color: #14233a;
    font-size: 20px;   
}
.mobile-nav a:hover{
    transition: 0.5s;
    background-color: #ec7400;
    color: white;
}
.wave{
    height: 300px;
    background-size: cover;
    background-image: url('../assets/wave.svg');
}
.wave h1{
    margin: 0;
    padding-top: 20px;
    text-align: center;
    color: white;
    font-size: 43px;
}
/*header*/

/*footer*/
.footer{
    background-color: #14233a;
    height: 390px;
    margin-top: 210px;
}
.w-30{
    width: 35%;
    color: white;
    display: inline-block;
    margin-top: 20px;
    padding: 10px 0 0 15px;
    line-height: 18px;
}
.w-30-desc{
    padding-top: 10px;
    font-weight: 400;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
.img-icon{
    background-color: #ec7400;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    display: inline-block;
    margin-left: 2px;
}
.img-icon img{
    padding: 10px;
}
.icones{
    padding-top: 30px;
}
.img-icon-insta img{
    padding: 9px;
}
.contato-footer{
    font-size: 14px;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
}
.dr{
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    line-height: 10px;
}
.div-footer{
    width: 100%;
    max-width: 1150px;
    margin: 0 auto;
}
.direita{
    font-size: 25px;
    line-height: 23px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    float: right;
}
.direita p:first-child{
    padding-top: 40px;
}
.direita p:nth-child(2){
    padding-top: 30px;
}
.baixar{
    background-color: #ec7400;
    border: none;
    color: #ffffff;
    padding: 10px 20px 10px 20px;
    font-size: 15px;
    border-radius: 3px;
}
.observacao{
    font-weight: 400;
    font-size: 13px;
    padding-top: 5px;
}
/*footer*/

@media( max-width:1024px){
    .menu-content{
        display: none;
    }
    .menu-mobile{
        display: flex;
        padding-top: 20px;
    }
    .menu-mobile img:hover{
        cursor: pointer;
    }
    /*header*/


    /*footer*/
    .w-30{
        margin-left: 50px;
    }
    .direita{
        margin-right: 50px;
        margin-left: 0px;
    }
    /*footer*/
}
